<template name="shopCheckoutDetails">
	<form class="checkout-form">
		<div class="container">
			<h4>Your information</h4>
		</div>
		<div>
			<div class="form-group">
				<label for="checkout-name" class="{{#if basket.delivery.fullName}}active{{/if}}">Full Name</label>
				<input class="form-control"
				name="fullName"
				id="checkout-fullName"
				placeholder="Full name"
				data-bind="value: email, keyup: saveBasketDeliveryField">
			</div>

			<div class="form-group">
				<label for="checkout-email" class="{{#if basket.delivery.email}}active{{/if}}">Email address</label>
				<input class="form-control"
				name="email"
				type="email"
				id="checkout-email"
				placeholder="Email address"
				data-bind="value: fullName, keyup: saveBasketDeliveryField">
			</div>

			<div class="form-group" data-content="room-number">
					<label for="room-number" class="{{#if basket.delivery.roomNumber}}active{{/if}}">
						Room Number
						<!-- <br> <small>If you don't know your room number yet, leave this field empty</small> -->
					</label>
					<input type="text"
					name="roomNumber"
					placeholder= "Room number"
					id="room-number"
					class="form-control"
					data-bind="value: roomNumber, keyup: saveBasketDeliveryField">
			</div>
		</div>
		<div class="checkout-delivery-time">
			<div class="container">
				<h4>Delivery time</h4>
			</div>
			<div class="form-group">
				<span class="textual-input datepicker">{{parseDate basket.delivery.deliveryDate}}</span>
				{{#if equals basket.delivery.deliveryTime 'now'}} and {{else}} at {{/if}}
				<span class="textual-input timepicker">{{basket.delivery.deliveryTime}}</span>
			</div>
		</div>

		<section class="checkout-order">
			<button class="btn btn-primary full-width" type='submit'>Order</button>
		</section>
	</form>
</template>
