<template name="shopCheckoutDetails">
	<form class="checkout-form">
		<h4>Your information</h4>
		<div class="form-group">
			<label for="checkout-name">Full Name</label>
			<input class="form-control"
			name="fullName"
			id="checkout-fullName"
			placeholder="Type your full name"
			data-bind="value: email, keyup: saveBasketDeliveryField">
		</div>

		<div class="form-group">
			<label for="checkout-email">Your Email</label>
			<input class="form-control"
			name="email"
			id="checkout-email"
			placeholder="Type your email address"
			data-bind="value: email, keyup: saveBasketDeliveryField">
		</div>

		<div class="form-group" data-content="room-number">
				<label for="room-number">Room Number</label>
				<input type="text"
				name="roomNumber"
				placeholder= "e.g. 101"
				id="room-number"
				class="form-control"
				data-bind="value: roomNumber, keyup: saveBasketDeliveryField">
		</div>

		<h4>Delivery time</h4>
		<div class="form-group">
			<input class="textual-input datepicker" data-bind="value: deliveryDate">
			at
			<input class="textual-input timepicker" data-bind="value: deliveryTime">
		</div>

		<section class="checkout-order">
			<button class="btn btn-primary full-width" data-bind="click: orderBasket">Order</button>
		</section>
	</form>
</template>
