<template name="publicHomeView">
  <div class="hero">
    <div class="stage"></div>
    <div class="center container">
      <div class="title">
        <img alt="Guestbird" id="mainLogo" src="images/brand/logo.png" />
      </div>
      <div class="subtitle">
        Online Concierge for Hotel Services
      </div>
      <div class="updates">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//guestbird.us12.list-manage.com/subscribe/post?u=cb9f6a3711c674ae91e1ad629&amp;id=329564cecb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" placeholder="Your e-mail address" class="required email mc-e-mail" id="mce-EMAIL">
                <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button mc-e-mail subscribe">
              </div>
            </div>
          </form>
        </div>
        <script type='text/javascript'>
          (function($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);

        </script>
        <!--End mc_embed_signup-->
      </div>
      <div class="say-hello">
        or <a href="mailto:hello@guestbird.com">contact us</a>.
      </div>
    </div>
    <div class="scrollDown">
      <div>
        Scroll down for more info
      </div>
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </div>
  </div>
  <div class="onePagerContent">
    <div class="whatIsGuestbird">
      <div class="container">
        <h2>What is Guestbird?</h2>
        <p>
          Guestbird is an order-engine for hotel services. It allows you to communicate online with your guests. So with Guestbird, you can provide a smart and convenient way to care about your guest’s needs.
        </p>
        <img class="mockupShop" src="images/mockup.png" />
      </div>
    </div>
    <div class="whyGuestbird">
      <div>
        <h2>Your Benefits</h2>
        <div class="row">
          <div class="col-md-4">
            <i class="material-icons">&#xEB49;</i> <!-- room service -->
            <h3>Guest Experience</h3>
            <p>
              Your hotel is so much more than just a place to sleep. Let your guests know about all your extra services - hustle free und wherever they are right now. With Guestbird, you increase the accessibility to your excellent services and finally the overall service experience. 
            </p>
          </div>
          <div class="col-md-4">
            <i class="material-icons">&#xE227;</i> <!-- money -->
            <h3>Value Creation</h3>
            <p>
              With Guestbird, your can better promote, sell and deliver all that your hotel has to offer. Use Guestbird to create a digital connection and boost customer retention as well as satisfaction. Your inhouse revenues will climb by 20%*.
            </p>
          </div>
          <div class="col-md-4">
            <i class="material-icons">&#xE1B1;</i> <!-- devices -->
            <h3>Greater Digital Appeal</h3>
            <p>
              Internet-savvy guests value hotels also by the digital presence and digital service design. Websites, OTAs, ratings etc. are common aspects, but don’t forget about digital service during their stay. With Guestbird, you are digitally connected and you can instantly satisfy the guest’s needs in reality.
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div>
        &copy; 2016 Guestbird
        <br />Ackerstr. 76 &middot; 13355 Berlin &middot; Germany
        <br />Christian Haenlein &middot; Andrej Stieben
      </div>
    </footer>
  </div>
</template>
