<template name="dashboardShopsView">
  <h1>Shops</h1>
  <div class="text-right">
    <a href="/new-shop">
      <button class="btn btn-primary">Create shop</button>
    </a>
  </div>
  <div class="shops-table">
    <div class="row legend-row">
      <div class="col-xs-1"></div>
      <div class="col-xs-4">
        Shop
      </div>
      <div class="col-xs-2">
        Currency
      </div>
      <div class="col-xs-2">
        Items
      </div>
      <div class="col-xs-2">
        Orders
      </div>
    </div>
    {{#each shops}}
      <div class="row">
        <div class="col-xs-1">
          <img src="{{uploadedImgPath logo}}" width="40"/>
        </div>
        <div class="col-xs-4">
          <a href="/shops/{{slug}}">{{name}}</a>
        </div>
        <div class="col-xs-2">
          {{shopCurrency}}
        </div>
        <div class="col-xs-2">
          ---
        </div>
        <div class="col-xs-2">
          ---
        </div>
      </div>
    {{/each}}
  </div>
</template>
