@import "mixins.scss";
@import "bootstrap/variables";

.shop {
	.btn-inactive {
		@include opacity(35);
	}
	.invisible {
		@include opacity(0);
	}
	.green {
		color: $green;
	}

	.shop-header {
		width: 100%;
		z-index: 999;
	}

	.shop-hero {
		position: relative;
		.shop-hero-img {
			width: 100%;
			height: 180px;
			background-size: cover;
			background-position: center center;
			@media #{$not-small} {
				height: 300px;
			}
		}
		.shop-hero-img-overlay {
			width: 100%;
			height: 100%;
	        // @include gradient-background(0deg, $black, transparent);
	        background: $black;
			@include opacity(50);
		}
		.shop-hero-content {
			position: absolute;
			bottom: 10px;
			left: 0;
			width: 100%;
			text-align: center;

			h1 {
				color: $gray-lighter;
				margin-bottom: 0;
				font-family: $font-family-serif;
			}
			.shop-description {
				color: $gray-lighter;
			}

			.shop-logo {
				width: 64px;
				margin: 0 auto;
				background: rgba($white, 0.6);
				@include radius(2px);
				img {
					width: 100%;
				}
			}
		}
	}

	.shop-content {
		padding-top: 15px;

		&.basket-open {
			padding-bottom: 100px;
		}

		.shop-section-title {
			text-transform: uppercase;
			border-bottom: 1px solid $brand-primary;
			margin-bottom: 0.5em;
			margin-top: 0;
			padding-bottom: 0.2em;
			color: $brand-primary;
		}

		.shop-item {
			margin-bottom: 15px;
			&:not(:last-child) {
				padding-bottom: 5px;
				border-bottom: 1px dotted $gray-light;
			}
			&.added-to-basked {
				i {
					animation: addToBasket 0.5s ease-in-out 1;
				}
			}

			.item-title {
				margin: 0;
				margin-bottom: 0.15em;
			}

			.item-description {
				color: $gray-darker;
			}

			.price {
				font-size: 1.2em;
				color: $brand-primary;
				padding-top: 0.35em;
			}
			.add-to-icon {
				font-size: 2em;
				color: $brand-primary;
			}
		}
	}

	@include keyframes(addToBasket) {
		0% {
			transform: scale(1)rotate(0deg);
		}
		50% {
			transform: scale(1.6)rotate(25deg);
		}
		100% {
			transform: scale(1)rotate(0deg);
		}
	}

	.shop-basket {
		max-width: 960px;
		@media #{$small} {
			position: fixed;
			bottom: 0;
			background: $gray-lighter;
			width: 100%;
			border-top: 1px solid $gray-dark;
			box-shadow: 0px 0px 0px 2px rgba($gray-dark, 0.5);
		}
		@media #{$not-small} {
			margin-top: 25px;
			background-color: #F7F8F8;
			border: 1px solid $brand-primary;
			border-radius: 2px;
		}

		.checkout-button {
			width: 100%;
		}
		.basket-content {
			padding-top: 1.5em;
			padding-bottom: 0.3em;
		}
		.basket-title {
			margin: 0 auto;
			text-align: center;
			background-color: $gray-lighter;
			color: $brand-primary;
			width: 130px;
			padding: 5px;
			border-radius: 39px;
			font-size: 16px;
			position: absolute;
			left: 50%;
			top: -14px;
			margin-left: -65px;
			border: 1px solid $brand-primary;
		}
		.basket-sentence {
			font-size: 0.9em;
			b {
				font-weight: 400;
				color: $brand-primary;
				border-bottom: 1px dotted $brand-primary;
			}
		}
	}

	.basket-breakdown {
		margin-top: 10px;
		.breakdown-item {
			padding: 0.5em 0;
		}
		.breakdown-item-count-controllers {
			border: 1px solid $gray-light;
			padding: 4px 6px;
			font-size: 15px;
			@include radius(4px);
			margin-right: 5px;

			.count-controller {
				padding: 4px;
				color: $brand-primary;
			}
		}
		.breakdown-total {
			margin-top: 5px;
			border-top: 1px dashed #B3B3B3;
			padding-top: 5px;
			font-size: 1.1em;
			text-transform: uppercase;
			.total-price {
				color: $brand-primary;
			}
		}
	}
	.error-message {
		font-size: 10px;
	    color: $brand-danger;
	}

	.shop-checkout {
		section {
			margin-top: 10px;
		}
	}
}
