<template name="dashboardLoginView">
  <div class="container login-container max-width-x-small">
    <h1 class="text-center">Login</h1>
    <form class="login-form">
      <div class="form-group">
        <input class="form-control" id="login-email" placeholder="Email" type="email">
      </div>
      <div class="form-group">
        <input class="form-control" id="login-password" placeholder="Password" type="password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign In</button>
        <small class="text-center">Don't have an account?
          <a href="/register">Register now!</a>
        </small>
      </div>
    </form>
  </div>
</template>
