<template name="dashboardRegisterView">
  <div class="container login-container max-width-x-small">
    <h1 class="text-center">Register</h1>
    <form class="register-form">
      <div class="form-group">
        <input type="email" id="login-email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" id="login-password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Register</button>
        <small class="text-center">Already have an account? <a href="/login">Login now!</a></small>
      </div>
    </form>
  </div>
</template>
