<template name="shopHeaderView">
	<div class="shop-hero">
		<div class="shop-hero-img" style="background-image: url('{{uploadedImgPath mainShopImage}}')">
			<div class="shop-hero-img-overlay"></div>
		</div>
		<div class="shop-hero-content">
			{{#if shop.logo}}
				<div class="shop-logo">
					<a href="/"><img src="{{uploadedImgPath shop.logo}}"></a>
				</div>
			{{/if}}
			<a href="/"><h1 class="shop-name">{{shop.name}}</h1></a>
			<div class="shop-description">{{shop.description}}</div>
		</div>
	</div>
	<div class="container">
		<div class="menu-tabs row">
		</div>
	</div>
</template>
