<template name="shopMainView">
	<div class="shop-content {{basketOpenClass}} container">
		<div class="row">
			<div class="col-sm-8">
				{{#each shopSections}}
					<div class='shop-section-container'>
						<a data-toggle="collapse" href="#section-{{number}}-item-list" aria-expanded="false" aria-controls="section-{{number}}-item-list">
							<h3 class="shop-section-title">
  								{{name}}
  							</h3>
						</a>
						<div class="collapse" id="section-{{number}}-item-list">
							{{#each items}}
	  							{{> shopItemView}}
	  						{{/each}}
						</div>
					</div>
				{{/each}}
			</div>
			<div class="col-sm-4">
				<div class="shop-basket {{hideBasketClass}}">
					{{> shopBasketView}}
				</div>
			</div>
		</div>
	</div>
</template>
